/* global styling */
body{
    margin: 0 auto;
    color: lightblue;
}
a{
    color: white;
}
a:hover{
    color: grey;
}
.landingImg{
    height: 100vh;
    object-fit: cover;
    position: relative;
    width: 100%;
    z-index: 0;
}
/* nav bar */
.headingDiv{
    color: white;
    left: 2%;
    top: 1%;
    position: absolute; 
    z-index: 10;
}
.headingDiv:hover{
    color: grey;
    cursor: pointer;
}
.navDiv{
    color: white;
    left: 1%;
    top: -50%;
    transition: transform 0.5s;
    position: absolute;

}
.navDiv{
    color: white;
    left: 1%;
    top: -50%;
    transition: transform 1s;
    position: absolute;
}
.navDiv.open{
    transform: translateX(3%);
    top: 10%;
}
.navDiv:hover{
    color: grey;
    cursor: pointer;
}
/* about page */
.rotateimg90{
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    box-sizing: border-box;
    border: 3px #c5c6c8 solid;
    border-radius: 2%;
    position: absolute;
    margin: 15% 0%;
    top: 0%;
    width: 100%;
    z-index: 10;
}
.blurb{
    color: white;
    left: 15%;
    position: absolute;
    top: 20%;
    
}
.icon{
    margin-left: 5%;
}
.icon:hover{
    color: black;
    cursor: pointer;
}
/* contact page */
.formDiv{
    left:30%;
    top:20%;
    position: absolute;
    width: 35%;
}
/* portfolio page */
.cardEl{
    color: black;
    left: 10%;
    position: absolute;
    top: 20%;
}
.imgPort{
    height: 200%;
}
/* global css against bootstrap */
.btn{
    background-color: grey;
    border: white;
}
.btn:hover{
    background-color: black;
}

/* media size css */
@media screen and (max-width: 500px) {
    .headingDiv{
        left: 5%;
    }
    .blurb{
        top: 25%;
        width: 80%;
    }
    body{
        background-color: black;
    }
    .cardEl{
        top: 25%;
    }
    .formDiv{
        left: 15%;
        width: 70%;
    }
    .rotateimg90{
        z-index: -10;
    }
}